<div>
  <h2>Solutions</h2>

  <div>
    <button
      class="btn btn btn-success"
      (click)="onDisplay()"
    >Display Details</button>
    <br>
    <div *ngIf="displayText else stopDisplay;" >
      <p>{{ text }}</p>
      <div
        *ngFor="let time of clickLog; let i = index"
        [ngClass]="{ fives: i > 4 }"
        [ngStyle]="{ backgroundColor: i <= 4 ?'transparent': 'blue' }">
        {{ time }}
      </div>
    </div>
    <ng-template #stopDisplay>
      <p hidden></p>
    </ng-template>
  </div>
</div>
