<label> Server Name</label>
<input
  type="text"
  class="form-control"
  placeholder="Server Name"
  [(ngModel)]="serverName"
>
<!--
Line 6 is an example of two way data binding.
Or you can use regular one way data binding/ event binding:
(input)="onUpdateServerName($event)"
-->
<!-- <p>{{serverName}}</p> -->
<br>
<button
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()"
>
<!-- disabled provides an example of property binding.
(click) example of Event Binding
-->
Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<p >Server was created, server name is {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>

<!-- since applications can be reused. This is a way to nest components. -->

<!-- to see how this is nested, launch application and inspect element. -->
<div>
  <success-alert></success-alert>
  <warning-alert></warning-alert>
</div>
