<div class="cotainer">
  <h1>Assignment 2</h1>
  <div class="container">
    <h2>Problems</h2>
    <ol class="row">
      <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
      <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
      <li>Add a button which may only be clicked if the username is NOT an empty string</li>
      <li>Upon clicking the button, the username should be reset to an empty string</li>
    </ol>
  </div>
  <div class="container">
    <h2>Solutions</h2>
    <app-input></app-input>
  </div>

</div>
